################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/ConsoleJenkins/v15
/ConsoleJenkinsTest/obj/Debug
/ConsoleJenkins/obj/Debug
